{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Analysis Detail
{% endblock %}

{% block body %}
    <div class="container detail-container" style="padding-bottom: 1em; margin-bottom: 0.5em">
        {% if object %}
        	<a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'analysis-edit' pk=object.id %}">Edit Analysis</a>
        	<h4>Analysis Details</h4>
            <table class="table-condensed">
                <tr>
                    <th class="custom-table-header">Analysis ID</th>
                    <td class="custom-table-detail">{{object.id}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Analysis Name</th>
                    <td class="custom-table-detail">{{object.name}}</td>
                </tr>
                <tr>
                	<th class="custom-table-header">Analysis Owner</th>
                    <td class="custom-table-detail">{{object.owner}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Analysis Type</th>
                    <td class="custom-table-detail">{{object.analysis_type}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Jira Ticket</th>
                    <td class="custom-table-detail">{{object.jira_ticket}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Last Updated</th>
                    <td class="custom-table-detail">{{object.last_updated}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Status</th>
                    <td class="custom-table-detail">{{object.status}}</td>
                </tr>
            </table>
        {% else %}
            <h5><i class="text-warning">No Results Dataset Details yet.</i></h5>
        {% endif %}
    </div>

    <div class="container detail-bordered-container" style="border: solid 1px #E0E0E0; padding-bottom: 1em; margin-bottom: 0.5em">
    	{% if input_datasets %}
	         {% include "tantalus/datatable/input_datasets.html" %}
	    {% else %}
	    	<h5><i class="text-warning">No Input Datasets for this Analysis yet.</i></h5>
        {% endif %}
    </div>

    <div class="container detail-bordered-container" style="border: solid 1px #E0E0E0; padding-bottom: 1em; margin-bottom: 0.5em">
    	{% if input_results %}
    		 {% include "tantalus/datatable/input_results.html" %}
    	{% else %}
    		<h5><i class="text-warning">No Input Results for this Analysis yet.</i></h5>
    	{% endif %}
    </div>

{% endblock %}
