{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Analyses
{% endblock %}

{% block body %}
    <div class="container" style="padding:0; margin-bottom:5px;">
        <h4 style="float:left;">Select an Analysis to view its details</h4>
        <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'analysis-add' %}">Add Analysis</a>
    </div>
    <div class="container" style="background-color:#F5F5F5;">
            {% include "tantalus/datatable/analysis_list.html" %}
    </div>
{% endblock %}