{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Analysis Detail
{% endblock %}

{% block body %}
    <div class="container detail-container" style="padding-bottom: 1em; margin-bottom: 0.5em">
        {% if object %}
        	<h4>Analysis Details</h4>
            <table class="table-condensed">
                <tr>
                    <th class="custom-table-header">Analysis ID</th>
                    <td class="custom-table-detail">{{object.id}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Analysis Name</th>
                    <td class="custom-table-detail">{{object.name}}</td>
                </tr>
                <tr>
                	<th class="custom-table-header">Analysis Owner</th>
                    <td class="custom-table-detail">{{object.owner}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Analysis Type</th>
                    <td class="custom-table-detail">{{object.analysis_type}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Jira Ticket</th>
                    <td class="custom-table-detail">{{object.jira_ticket}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Last Updated</th>
                    <td class="custom-table-detail">{{object.last_updated}}</td>
                </tr>
                <tr>
                    <th class="custom-table-header">Status</th>
                    <td class="custom-table-detail">{{object.status}}</td>
                </tr>
            </table>
        {% else %}
            <h5><i class="text-warning">No Results Dataset Details yet.</i></h5>
        {% endif %}
    </div>

    <div class="container detail-bordered-container" style="border: solid 1px #E0E0E0; padding-bottom: 1em; margin-bottom: 0.5em">
    	{% if input_datasets %}
	        <h4>Input Datasets for this Analysis</h4>
	        <div class="table-responsive">
	            <table id="input-datasets-analysis" class="table-striped table-bordered">
	                <thead>
	                	<th>Dataset ID</th>
	                    <th>Dataset Owner</th>
	                    <th>Dataset Name</th>
	                    <th>Dataset Type</th>
	                    <th>Sample</th>
	                    <th>Library</th>
	                    <th>Reference Genome</th>
	                    <th>Aligner</th>
	                </thead>
	                <tbody>
	                    {% for dataset in input_datasets %}
	                        <tr>
	                            <td><a href="{% url 'dataset-detail' dataset.id %}">{{dataset.id}}</a></td>
	                            <td>{{dataset.owner}}</td>
	                            <td>{{dataset.name}}</td>
	                            <td>{{dataset.dataset_type}}</td>
	                            <td>{{dataset.sample.sample_id}}</td>
	                            <td>{{dataset.library.library_id}}</td>
	                            <td>{{dataset.reference_genome}}</td>
	                            <td>{{dataset.aligner}}</td>
	                        </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    {% else %}
	    	<h5><i class="text-warning">No Input Datasets for this Analysis yet.</i></h5>
        {% endif %}
    </div>

    <div class="container detail-bordered-container" style="border: solid 1px #E0E0E0; padding-bottom: 1em; margin-bottom: 0.5em">
    	{% if input_results %}
    		<h4>Input Results for this Analysis</h4>
	        <div class="table-responsive">
	            <table id="input-results-analysis" class="table-striped table-bordered">
	                <thead>
	                	<th>Results ID</th>
	                    <th>Results Owner</th>
	                    <th>Results Name</th>
	                    <th>Results Type</th>
	                    <th>Results Version</th>
	                </thead>
	                <tbody>
	                    {% for result in input_results %}
	                        <tr>
	                            <td><a href="{% url 'result-detail' result.id %}">{{result.id}}</a></td>
	                            <td>{{result.owner}}</td>
	                            <td>{{result.name}}</td>
	                            <td>{{result.results_type}}</td>
	                            <td>{{result.results_version}}</td>
	                        </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
    	{% else %}
    		<h5><i class="text-warning">No Input Results for this Analysis yet.</i></h5>
    	{% endif %}
    </div>
{% endblock %}

{% block datatables_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#input-datasets-analysis").DataTable({
                "order": [[0, "desc"]]
            });
            $("#input-results-analysis").DataTable({
                "order": [[0, "desc"]]
            });
        });
    </script>
{% endblock %}
