{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Deployment: {{ deployment.name }}
{% endblock %}

{% block body %}
    <div class="container" style="padding:0; margin-bottom:5px;">
            <h4 style="float:left;">Deployment Details</h4>
    </div>
    <div class="container" style="background-color:#F5F5F5;">
        <table class="table-condensed">
            <tbody>
                <tr><th id="thid">Deployment name</th><td id="tdid">{{ deployment.name }}</td></tr>
                <tr><th id="thid">From</th><td id="tdid">{{ deployment.from_storage }}</td></tr>
                <tr><th id="thid">To</th><td id="tdid">{{ deployment.to_storage }}</td></tr>
                <tr><th id="thid">Running</th><td id="tdid">{{ deployment.running }}</td></tr>
                <tr><th id="thid">Finished</th><td id="tdid">{{ deployment.finished }}</td></tr>
                <tr><th id="thid">Errors</th><td id="tdid">{{ deployment.errors }}</td></tr>
                <tr><th id="thid">Percent finished</th><td id="tdid">{{ deployment.get_percent_finished }}</td></tr>
                <tr><th id="thid">Percent succeeded</th><td id="tdid">{{ deployment.get_percent_succeeded }}</td></tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-sm" style="margin-top:5px; margin-bottom: 10px;" href={% url 'deployment-start' pk=deployment.pk %}>Start Deployment</a>
    </div>
{% endblock %}
