{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    File Transfer Creation
{% endblock %}
{% block body %}
    <div class="container graybg">
        <form action="{% url 'filetransfer-create' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>File Transfer Information</legend>
                <table class="table-condensed">
                    <thead>
                    {{ form.as_p }}
                    </thead>
                </table>
             </fieldset>
            <input class="btn btn-primary btn-sm" type="submit" value="Start" />
            <a class="btn btn-default btn-sm" href="{% url 'filetransfer-list' %}">Cancel</a>
        </form><br>
    </div>
{% endblock %}