{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    {{ task_type.task_name }} Instances
{% endblock %}

{% block body %}
    <div class="container" style="padding:0; margin-bottom:5px;">
        <h4 style="float:left;">Select a {{ task_type.task_name }} instance to view its details</h4>
        <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'generictaskinstance-create' task_type.pk %}">Add {{ task_type.task_name }} instance</a>
    </div>

    <div class="container" style="background-color:#F5F5F5;">
        {% if instances %}
            <div class="table-responsive">
                <table id="datatable" class="table table-striped" style="display:none;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Instance name</th>
                            <th>Running</th>
                            <th>Finished</th>
                            <th>Success</th>
                            <th>State</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <br/>
                        {% for instance in instances %}
                            <tr>
                                <td><a href="{% url 'generictaskinstance-detail' task_type.pk instance.pk %}">{{ instance.pk }}</a></td>
                                <td>{{ instance.instance_name }}</td>
                                <td>{{ instance.running }}</td>
                                <td>{{ instance.finished }}</td>
                                <td>{{ instance.success }}</td>
                                <td>{{ instance.state }}</td>
                                <td>
                                    <a href="{% url 'generictaskinstance-delete' task_type.pk instance.pk %}"><i class="icon-remove-sign" style="color:red"></i> delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h5><i class="text-warning">No {{ task_type.task_name }} instances.</i></h5>
        {% endif %}
    </div>
{% endblock %}
