{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Generic Task Types
{% endblock %}

{% block body %}
    <div class="container" style="padding:0; margin-bottom:5px;">
        <h4 style="float:left;">Select a generic task type to view its details</h4>
            <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'generictasktype-create' %}">Add generic task type</a>
    </div>

    <div class="container" style="background-color:#F5F5F5;">
        {% if tasktypes %}
            <div class="table-responsive">
                <table id="datatable" class="table table-striped" style="display:none;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Task name</th>
                            <th>Relative script path</th>
                            <th>Default host</th>
                            <th># args</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <br/>
                        {% for tasktype in tasktypes %}
                            <tr>
                                <td><a href="{% url 'generictasktype-detail' tasktype.pk %}">{{tasktype.pk}}</a></td>
                                <td>{{ tasktype.task_name }}</td>
                                <td>{{ tasktype.relative_script_path }}</td>
                                <td>{{ tasktype.default_host }}</td>
                                <td>{{ tasktype.required_and_default_args.items|length }}</td>
                                <td>
                                    <a href="{% url 'generictasktype-delete' tasktype.pk %}"><i class="icon-remove-sign" style="color:red"></i> delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h5><i class="text-warning">No generic task types.</i></h5>
        {% endif %}
    </div>
{% endblock %}
