{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Generic Task Type Detail
{% endblock %}

{% block body %}
    <div class="container" style="background-color:#F5F5F5;">
        <table class="table-condensed">
            <tr>
                <td class="td_name">Task name:</td>
                <td>
                    {{ object.task_name }}
                </td>
            </tr>
            <tr>
                <td class="td_name">Description:</td>
                <td style="white-space: pre-wrap;">{{ object.description }}</td>

            </tr>
            <tr>
                <td class="td_name">Relative script path:</td>
                <td>
                    {{ object.relative_script_path }}
                </td>
            </tr>
            <tr>
                <td class="td_name">Default host:</td>
                <td>
                    {{ object.default_host }}
                </td>
            </tr>
            <tr>
                <td class="td_name">Number of instances:</td>
                <td>
                    {{ object.generictaskinstance_set.count }} (see them <a href="{% url 'generictaskinstance-list' object.pk %}">here</a>)
                </td>
            </tr>
        </table>

        {# List all the arguments in a table if there are any #}
        <br/>
        <h4>Arguments</h4>

        {% if object.required_and_default_args %}
        <div class="table-responsive">
            <table id="datatable" class="table table-striped" >
            <thead>
                <tr>
                    <th>Argument</th>
                    <th>Default value</th>
                </tr>
            </thead>

            <tbody>
                {% for key, value in object.required_and_default_args.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            {% else %}
                <div class="td_name">No arguments</div>
            {% endif %}
        </div>
    </div>


{% endblock %}
