{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Tantalus
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 0.69em; border:solid 1px #E0E0E0; border-radius: 3px; padding-top: 0.69em; padding-bottom: 1.2em;">
    <table class="table-condensed">
        <tbody>
            <tr>
                <th style="padding: 0; padding-top: 4px;">In House API Token:</th>
                <td style="padding: 0; padding-top: 4px; padding-left: 10px;">{{auth_token}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
