{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Tantalus
{% endblock %}

{% block body %}
    <div class="container" style="border:solid 1px #E0E0E0; border-radius: 3px;">
        <a style="text-decoration: none;" href="#db_collapse" data-toggle="collapse"><h4>Menu</h4></a>
        <div id="db_collapse" class="collapse in">
            <table class="table-striped" style="width:100%;">
                <tbody>
                    <tr>
                        <td><a href="{% url 'dataset-list' %}">Datasets</a> <i class="counter">{{datasets_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'dataset-search' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Search Datasets</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'filetransfer-list' %}">File Transfers</a> <i class="counter">{{file_transfer_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'filetransfer-create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'gscwgsbamquery-list' %}">GSC WGS Bam Queries</a> <i class="counter">{{gsc_wgs_bam_query_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'gscwgsbamquery-create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'gscdlppairedfastqquery-list' %}">GSC DLP Paired Fastq Queries</a> <i class="counter">{{gsc_dlp_paired_fastq_query_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'gscdlppairedfastqquery-create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'brcfastqimport-list' %}">BRC Fastq Imports</a> <i class="counter">{{brc_fastq_import_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'brcfastqimport-create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'generictasktype-list' %}">Generic Task Types</a> <i class="counter">{{generic_task_type_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'generictasktype-create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'generictaskinstance-submenu' %}">Generic Task Instances</a> <i class="counter">{{generic_task_instances_count}}</i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'sample-list' %}">Samples</a> <i class="counter">{{sample_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'sample-add' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="/api">API</a></td><td></td>
                    </tr>
                    <tr>
                        <td><a href="/admin">Admin</a></td>
                        <td></td>
                    </tr>
                      <tr>
                        <td><a href="{% url 'tag-list' %}">Tags</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
