<!-- Created on October 6, 2017 -->
<!-- Spencer Vatrt-Watts (github.com/Spenca) -->
{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block body %}
	<div class="container" style="border:solid 1px #E0E0E0; border-radius: 3px;">
	    <a style="text-decoration: none;" href="#db_collapse" data-toggle="collapse"><h4>Menu</h4></a>
	    <div id="db_collapse" class="collapse in">
	        <table class="table-striped" style="width:100%;">
	            <tbody>
	                <tr>
	                    <td><a href="{% url 'deployment-list' %}">Deployments</a> <i class="counter">{{deployment_count}}</i></td>
	                    <td>
	                        <p style="float:right;">
	                        <a href="{% url 'deployment-create' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
	                    </td>
	                </tr>
                    <tr>
                        <td><a href="{% url 'sample-list' %}">Samples</a> <i class="counter">{{sample_count}}</i></td>
                        <td>
                            <p style="float:right;">
                            <a href="{% url 'sample-add' %}"><i class="fa fa-plus" aria-hidden="true" style="color:green;"></i> Add</a></p>
                        </td>
                    </tr>
	                <tr>
	                    <td><a href="{% url 'transfer-list' %}">Transfers</a> <i class="counter">{{transfer_count}}</i></td>
	                    <td></td>
	                </tr>
	                <tr>
	                    <td><a href="/api">API</a></td><td></td>
	                </tr>
	                <tr>
	                    <td><a href="/admin">Admin</a></td>
	                    <td></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
{% endblock %}
