{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Patients
{% endblock %}

{% block body %}
    <div class="container" style="padding:0; margin-bottom:5px;">
        <h4 style="float:left;">Select a Patient to view his/her details</h4>
        <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url 'patient-add' %}">Add Patient</a>
    </div>
    <div class="container" style="background-color:#F5F5F5;">
        {% if patients %}
            <div class="table-responsive">
                <table id="datatable" class="table table-striped" style="display:none;">
                    <thead>
                        <tr>
                            <th>SA ID</th>
                            <th>Reference ID</th>
                            <th>External Patient ID</th>
                            <th>Case ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <br/>
                        {% for patient in patients %}
                            <tr>
                                <td><a href="{% url 'patient-detail' patient.id %}">{{patient.SA_id}}</a></td>
                                <td>{{patient.reference_id}}</td>
                                <td>{{patient.external_patient_id}}</td>
                                <td>{{patient.case_id}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <h5><i class="text-warning">No Patients yet.</i></h>
        {% endif %}
    </div>
{% endblock %}