{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Sample Detail
{% endblock %}

{% block body %}
    <div class="container detail-container" style="background-color:#F5F5F5;">
        {% if object %}
            <table class="table-condensed">
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Sample ID</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.sample_id}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Collab Sample ID</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.collab_sample_id}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Submitter</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.submitter}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Collaborator</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.collaborator}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Tissue</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.tissue}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Note</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.note}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Patient ID</th>
                    {% if patient_url %}
                        <td style="padding: 0; padding-left: 35px;"><a href='{{patient_url}}'>{{object.patient_id.patient_id}}</a></td>
                    {% else %}
                        <td style="padding: 0; padding-left: 35px;">{{object.patient_id.patient_id}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Projects</th>
                    <td style="padding: 0; padding-left: 35px;">{{project_list|join:", "}}</td>
                </tr>
            </table>
        {% else %}
            <h5><i class="text-warning">No Sample Details yet.</i></h5>
        {% endif %}
    </div>
    <div class="container detail-bordered-container" style="border: solid 1px #E0E0E0;">
        <h4> Submissions Related to this Sample</h4>
        <div class="table-responsive">
            <table class="table-striped table-bordered">
                <thead>
                    <th>Submission ID</th>
                    <th>SOW</th>
                    <th>Submission Date</th>
                    <th>Submitted By</th>
                    <th>Lanes Sequenced</th>
                    <th>Updated Goal</th>
                    <th>Payment</th>
                    <th>Data Path</th>
                    <th>Library Type</th>
                </thead>
                <tbody>
                    {% for submission in submission_set %}
                        <tr>
                            <td><a href="{% url 'submission-detail' submission.id %}">{{submission.id}}</a></td>
                            <td>{{submission.sow}}</td>
                            <td>{{submission.submission_date}}</td>
                            <td>{{submission.submitted_by}}</td>
                            <td>{{submission.lanes_sequenced}}</td>
                            <td>{{submission.updated_goal}}</td>
                            <td>{{submission.payment}}</td>
                            <td>{{submission.data_path}}</td>
                            <td>{{submission.library_type}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}