{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block body %}
    <div class="container graybg">
        <form action="{% url 'sample-add' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Sample Information</legend>
                <table class="table-condensed">
                    <thead>
                    {{form}}
                    </thead>
                </table>
             </fieldset>
            <input class="btn btn-primary btn-sm" type="submit" name="create" value="Create">
            <a class="btn btn-default btn-sm" href="{% url 'sample-list' %}">Cancel</a>
        </form><br>
    </div>
{% endblock %}
