{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    {{ task_type }}: {{ simple_task.name }}
{% endblock %}

{% block body %}
    <div class="container" style="padding:0; margin-bottom:5px;">
        <h4 style="float:left;">Task Details</h4>
    </div>
    
    <div class="container" style="background-color:#F5F5F5;">
        <table class="table-condensed">
            <tbody>
                {% if task_type == 'FileTransfer' %}
                    <tr><th id="thid">Name:</th><td id="tdid">{{ simple_task.name }}</td></tr>
                    <tr><th id="thid">Tag:</th><td id="tdid">{{ simple_task.tag_name }}</td></tr>
                    <tr><th id="thid">From:</th><td id="tdid">{{ simple_task.from_storage }}</td></tr>
                    <tr><th id="thid">To:</th><td id="tdid">{{ simple_task.to_storage }}</td></tr>
                {% endif %}
                {% if task_type == 'GscDlpPairedFastqQuery' %}
                    <tr><th id="thid">DLP Library ID:</th><td id="tdid">{{ simple_task.dlp_library_id }}</td></tr>
                    <tr><th id="thid">GSC Library ID:</th><td id="tdid">{{ simple_task.gsc_library_id }}</td></tr>
                {% endif %}
                <tr><th id="thid">Running:</th><td id="tdid">{{ simple_task.running }}</td></tr>
                <tr><th id="thid">Finished:</th><td id="tdid">{{ simple_task.finished }}</td></tr>
                <tr><th id="thid">Success:</th><td id="tdid">{{ simple_task.success }}</td></tr>
                <tr><th id="thid">State:</th><td id="tdid">{{ simple_task.state }}</td></tr>
                {% if task_type == 'FileTransfer' %}
                    <tr><th id="thid">Finished:</th><td id="tdid">{{ simple_task.get_count_finished }} / {{ simple_task.get_count_total }}</td></tr>
                {% endif %}
                <tr><th id="thid" valign="top">Message:</th></tr>
            </tbody>
        </table>

        <div style="height:auto; overflow:scroll;"><pre><code>{{ simple_task.message }}</code></pre></div>
        
        <a class="btn btn-primary btn-sm" style="margin-top:5px; margin-bottom: 10px;" href={% url task_type|add:'-start'|lower pk=simple_task.pk %}>Start {{ task_type }}</a>

        <br />
    
        {% if std %}
            <div class="container" style="padding:0; margin-bottom:5px;">
                <table>
                    <tr>
                        <td><h4>Task Standard Output</h4></td>
                    </tr>
                </table>
            </div>

            <div style="height:auto; overflow:scroll;">
                <pre><code>{% for line in std %}{{line}}{% endfor %}</code></pre>
            </div>

            <span class="step-links pagination">
                {% if std.has_previous %}
                    <a class="btn btn-primary btn-sm" href="?page={{ std.previous_page_number }},{{ err.number }}"> previous </a>
                {% endif %}
                    <span class="current">
                        Page {{ std.number }} of {{ std.paginator.num_pages }}
                    </span>
                {% if std.has_next %}
                    <a class="btn btn-primary btn-sm" href="?page={{ std.next_page_number }},{{ err.number }}"> next </a>
                {% endif %}
            </span>

            {% if std.has_next %}
                <a class="btn btn-primary btn-sm" href="{{ simple_task.pk }}/stdout">Detail</a>
            {% endif %}
        {% endif %}

        {% if err %}
            <div class="container" style="padding:0; margin-bottom:5px;">
                <table>
                    <tr>
                        <td><h4>Task Standard Error</h4></td>
                    </tr>
                </table>
            </div>

            <div style="height:auto; overflow:scroll;">
                <pre><code>{% for line in err %}{{line}}{% endfor %}</code></pre>
            </div>

            <span class="step-links pagination">
                {% if err.has_previous %}
                    <a a class="btn btn-primary btn-sm" href="?page={{ std.number }},{{ err.previous_page_number }}"> previous </a>
                {% endif %}
                <span class="current">
                    Page {{ err.number }} of {{ err.paginator.num_pages }}
                </span>
                {% if err.has_next %}
                    <a class="btn btn-primary btn-sm" href="?page={{ std.number }},{{ err.next_page_number }}"> next </a>
                {% endif %}
            </span>

            {% if err.has_next %}
                <a class="btn btn-primary btn-sm" href="{{ simple_task.pk }}/stderr">Detail</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
