{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    {% if task_type == 'FileTransfer' %}
        File Transfers
    {% elif task_type == 'GscWgsBamQuery' %}
        GSC WGS BAM Queries
    {% elif task_type == 'GscDlpPairedFastqQuery' %}
        GSC DLP Paired FASTQ Queries
    {% elif task_type == 'BRCFastqImport' %}
        BRC FASTQ Imports
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container" style="padding:0; margin-bottom:5px;">
        <h4 style="float:left;">Select a list entry to view its details</h4>
        <a class="btn btn-primary btn-sm" style="float:right; margin-top:5px;" href="{% url task_type|add:'-create'|lower %}">Add {{ task_type }}</a>
    </div>
    
    <div class="container" style="background-color:#F5F5F5;">
        {% if tasks %}
            <div class="table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            {% if task_type == 'FileTransfer' %}
                                <th>Name</th>
                                <th>From</th>
                                <th>To</th>
                            {% endif %}
                            <th>Running</th>
                            <th>Finished</th>
                            <th>Success</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <br/>
                        {% for task in tasks %}
                            <tr>
                                <th><a href="{% url task_type|add:'-detail'|lower pk=task.id %}">{{task.id}}</a></th>
                                {% if task_type == 'FileTransfer' %}
                                    <td>{{task.name}}</td>
                                    <td>{{task.from_storage}}</td>
                                    <td>{{task.to_storage}}</td>
                                {% endif %}
                                <td>{{task.running}}</td>
                                <td>{{task.finished}}</td>
                                <td>{{task.success}}</td>
                                <td>{{task.state}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h5><i class="text-warning">No file transfers yet.</i></h5>
        {% endif %}
    </div>
{% endblock %}
