{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    {{ task_type }} Deletion
{% endblock %}

{% block body %}
    <div class="container graybg">
        <!-- pass in the pk -->
        <form action="{% url task_type|add:'-delete'|lower pk=pk %}" method="post">
            {% csrf_token %}
            <h5>Are you sure you want to delete this <i class="emph">{{task_type}}</i>?</h5>
            <input class="btn btn-danger btn-sm" type="submit" name="delete" value="Yes, I'm sure">
            <a class="btn btn-default btn-sm" href="{% url task_type|add:'-list'|lower %}">Cancel</a>
        </form>
    </div>
{% endblock %}
