{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Sample Creation
{% endblock %}

{% block body %}
    <div class="container graybg">
        <form action="{% url 'specific-sample-add' patient_id %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Add a single sample</legend>
                <table class="table-condensed">
                    <thead>
                        {% for field in form %}
                        <tr>
                            <th>
                                {{field.label}}
                            </th>
                            <td>
                                {{field}}
                                {% if field.name == "sample_id" %}
                                    <p> Append an extension to the Patient ID to create an unique Sample ID</p>
                                {% endif%}
                            </td>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
            	<input class="btn btn-primary btn-sm" type="submit" name="create" value="Create">
            </fieldset>
        </form><br>
        <fieldset>
            <legend></legend>
                <a class="btn btn-default btn-sm" style="float:right; margin-top:5px;" href="{% url 'sample-list' %}">Cancel</a>
        </fieldset>
        <br>
    </div>
{% endblock %}
