{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Submission Detail
{% endblock %}

{% block body %}
    <div class="container detail-container" style="background-color:#F5F5F5; padding-bottom: 1em; margin-bottom: 0.5em">
        {% if object %}
            <table class="table-condensed">
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Submission ID</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.id}}</td>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Sample ID</th>
                    <td style="padding: 0; padding-left: 35px;"><a href='{{sample_url}}'>{{object.sample.sample_id}}</a></td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">SOW</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.sow}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Submission Date</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.submission_date}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Submitted By</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.submitted_by}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Library Type</th>
                    <td style="padding: 0; padding-left: 35px;">{{object.library_type}}</td>
                </tr>
            </table>
        {% else %}
            <h5><i class="text-warning">No Submission Details yet.</i></h5>
        {% endif %}
    </div>
{% endblock %}