{% extends "tantalus/base_view.html" %}
{% load staticfiles %}

{% block title %}
    Tag Detail
{% endblock %}

{% block body %}

    <div class="container detail-container" style="background-color:#F5F5F5; padding-bottom: 1em; margin-bottom: 0.5em">
        {% if tag %}
            <table class="table-condensed">
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Tag Name</th>
                    <td style="padding: 0; padding-left: 35px;">{{tag.name}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Number of Sequence Datasets</th>
                    <td style="padding: 0; padding-left: 35px;">{{tag.count_sequence_datasets}}</td>
                </tr>
                <tr>
                    <th style="padding: 0; padding-top: 4px;">Number of Results Datasets</th>
                    <td style="padding: 0; padding-left: 35px;">{{tag.count_result_datasets}}</td>
                </tr>
            </table>
        {% else %}
            <h5><i class="text-warning">No Tag Details yet.</i></h5>
        {% endif %}
    </div>

    <div class="container detail-bordered-container" style="border: solid 1px #E0E0E0; padding-bottom: 1em; margin-bottom: 0.5em">
        {% if sequence_datasets %}
             {% include "tantalus/datatable/sequence_datasets.html" %}
        {% else %}
            <h5><i class="text-warning">No Sequence Datasets associated with this Tag yet.</i></h5>
        {% endif %}
    </div>

    <div class="container detail-bordered-container" style="border: solid 1px #E0E0E0; padding-bottom: 1em; margin-bottom: 0.5em">
        {% if results %}
             {% include "tantalus/datatable/results.html" %}
        {% else %}
            <h5><i class="text-warning">No Results associated with this Tag yet.</i></h5>
        {% endif %}
    </div>

{% endblock %}
