<h4>File Resources</h4>
<div class="table-responsive">
    <table id="file-resource-datatable" class="table-striped table-bordered">
        <thead>
            <tr>
                <th>File name</th>
                <th>File Type</th>
                <th>Index Sequence</th>
                <th>Read End</th>
                <th>Region</th>
                <th>Size</th>
                <th>Storage</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            <br/>
            {% for file in object.file_resources.all %}
                <tr>
                    <td>{{file.filename}}</td>
                    <td>{{file.file_type.name}}</td>
                    <td>{{file.sequencefileinfo.index_sequence}}</td>
                    <td>{{file.sequencefileinfo.read_end}}</td>
                    <td>{{file.sequencefileinfo.genome_region}}</td>
                    <td>{{file.get_file_size}}</td>
                    <td>{{storages|join:", "}}</td>
                    <td>{{file.owner.username}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>