  <div class="table-responsive">
    <table id="datatable" class="table table-striped" style="display:none;">
        <thead>
            <tr>
                <th>curation name</th>
                <th>Number of Sequence Datasets</th>
                <th>Owner</th>
                <th>Created Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <br>
            {% for curation in curations %}
                <tr>
                    <td><a href="{% url 'curation-detail' curation.id %}">{{curation.name}}</a></td>
                    <td>{{curation.count_sequence_datasets}}</td>
                    {% if curation.owner %}
                        <td>{{curation.owner}}</td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                    <td>{{curation.get_created_date}}</td>
                    <td>
                    <a href="{% url 'curation-delete' pk=curation.id %}"><i class="icon-remove-sign" style="color:red"></i> delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
