<h4>External IDs with Multiple Associated Sample IDs</h4>
<div class="table-responsive">
    <table id="multiple-matched-datatable" class="table-striped table-bordered">
        <thead>
            <th>Sample PK</th>
            <th>Sample ID</th>
            <th>External Sample ID</th>
        </thead>
        <tbody>
            {% for sample in multiple_samples %}
                <tr>
                    <td><a href="{% url 'sample-detail' sample.id %}">{{sample.id}}</a></td>
                    <td>{{sample.sample_id}}</td>
                    <td>{{sample.external_sample_id}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>